version: 2.1

orbs:
  windows: circleci/windows@2.2.0

jobs:
  test:
    description: Setup and run application tests
    executor:
      name: windows/default
    steps:
      - add_ssh_keys:
          fingerprints:
            - "c4:12:3b:3a:25:95:32:ee:58:b7:8d:90:4a:d0:6c:82"
      - checkout
      - run:
          name: "Print Working Directory"
          command: pwd
      - run:
          name: "Check files"
          command: cd ..
      - run:
          name: "Check files 2"
          command: pwd
      # - run:
      #     name: "Install project dependencies"
      #     command: dotnet.exe restore
      # - run:
      #     name: "Run Application Tests"
      #     command: dotnet.exe test
      # - run:
      #     name: "Print Working Directory"
      #     command: pwd
workflows:
  test:
    jobs:
      - test
